/*! Place your custom styles here */

.size--xl {
  font-size: 5em;
}

.size--l {
  font-size: 3em;
}

.size--m {
  font-size: 2.25em;
}

.blur {
  filter: blur(5px) !important;
     -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
     -o-filter: blur(5px);
     -ms-filter: blur(5px);

}

.padding100top {
  padding-top: 100px !important;
}

.padding20top {
  padding-top: 20px !important;
}
