/*! Place your custom styles here */

.size--xl {
  font-size: 6em;
}

.size--l {
  font-size: 4.5em;
}

.blur {
  filter: blur(.25px);
     -webkit-filter: blur(.25px);
     -moz-filter: blur(.25px);
     -o-filter: blur(.25px);
     -ms-filter: blur(.25px);
}
